@font-face{
    src : url("./fonts/Abel-Regular.ttf");
    font-family: "Abel";
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
}
@font-face{
    src : url("./fonts/VarelaRound-Regular.ttf");
    font-family: "Valera";
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
}

@font-face{
    src : url("./fonts/Righteous-Regular.ttf");
    font-family: "Righteous";
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
}

:root{
    --blue : #46b3e6;
    --blueDark : #318fbb;
    --gray : #e5dfdf;
    --dark : #1f1f1f;
    --bk-small: 576px;
    --bk-medium: 768px;
    --bk-lager: 992px;
    --bk-extra-large: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", Arial, Helvetica, sans-serif;
}

body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    width: 100%;
    background: #eeeeee;
    font-size: 16px;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.container::before{
    content: "";
    display: table;
    clear: both;
}

/* COLORES FAVORITOS PARA LA PAGINA */
.background-blue{
    background-color: var(--blue);
}

.background-blue-dark{
    background-color: var(--blueDark);
}

.background-gray{
    background-color: var(--gray);
}

.background-dark{
    background-color: var(--dark);
}

.background-transparent{
    background: transparent;
}

/*ESTILOS PARA LOS TEXTOS*/
.font-style-italic{
    font-style: italic;
}

.font-style-oblique{
    font-style: oblique;
}

.text-transform-uppercase{
    text-transform: uppercase;
}

.text-transform-lowercase{
    text-transform: lowercase;
}

.text-transform-capitalize{
    text-transform: capitalize;
}

.font-weight-lighter{
    font-weight: lighter;
}

.font-weight-bold{
    font-weight: bold;
}

.font-weight-bolder{
    font-weight: bolder;
}

/* ALINEACIONES PARA TEXTOS */
.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.text-align-right{
    text-align: right;
}

.text-align-justify{
    text-align: justify;
}

.text-white{
    color: #fff;
}

.text-black{
    color: #000;
}

.text-dark{
    color: rgba(0, 0, 0, 0.466);
}

/* DECORACIONES PARA TEXTOS*/
.text-decoration-none{
    text-decoration: none;
}

.text-decoration-underline{
    text-decoration: underline;
}

.text-decoration-overline{
    text-decoration: overline;
}

.text-decoration-line-through{
    text-decoration: line-through;
}

.text-decoration-dashed{
    text-decoration: dashed;
}

.text-decoration-dotted{
    text-decoration: dotted;
}

.text-decoration-double{
    text-decoration: double;
}

.text-decoration-solid{
    text-decoration: solid;
}
   
/**/


/* ALINEACIONES PARA DIVS */


/* FORMATOS ESPECIALES PARA TITULOS */
.important-title{
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2.5px;
    font-size: 80px;
}

/*
    MARGENES
*/

.margin-top-0{
    margin-top: 0;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-left-0{
    margin-left: 0;
}

.margin-right-0{
    margin-right: 0;
}

.margin-0{
    margin: 0;
}

.margin-y-5{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.margin-y-4{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.margin-y-3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.margin-y-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.margin-y-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/**/
.margin-x-5{
    margin-right: 5rem;
    margin-left: 5rem;
}

.margin-x-4{
    margin-right: 4rem;
    margin-left: 4rem;
}

.margin-x-3{
    margin-right: 3rem;
    margin-left: 3rem;
}

.margin-x-2{
    margin-right: 2rem;
    margin-left: 2rem;
}

.margin-x-1{
    margin-right: 1rem;
    margin-left: 1rem;
}
/**/
.margin-auto{
    margin: auto;
}

.margin-5{
    margin: 5rem;
}

.margin-4{
    margin: 4rem;
}

.margin-3{
    margin: 3rem;
}

.margin-2{
    margin: 2rem;
}

.margin-1{
    margin: 1rem;
}

.margin-top-5{
    margin-top: 5rem;
}

.margin-top-4{
    margin-top: 4rem;
}

.margin-top-3{
    margin-top: 3rem;
}

.margin-top-2{
    margin-top: 2rem;
}

.margin-top-1{
    margin-top: 1rem;
}

/***/
.margin-left-5{
    margin-left: 5rem;
}

.margin-left-4{
    margin-left: 4rem;
}

.margin-left-3{
    margin-left: 3rem;
}

.margin-left-2{
    margin-left: 2rem;
}

.margin-left-1{
    margin-left: 1rem;
}
/***/
.margin-right-5{
    margin-right: 5rem;
}

.margin-right-4{
    margin-right: 4rem;
}

.margin-right-3{
    margin-right: 3rem;
}

.margin-right-2{
    margin-right: 2rem;
}

.margin-right-1{
    margin-right: 1rem; 
}
/***/
.margin-bottom-5{
    margin-bottom: 5rem;
}

.margin-bottom-4{
    margin-bottom: 4rem;
}

.margin-bottom-3{
    margin-bottom: 3rem;
}

.margin-bottom-2{
    margin-bottom: 2rem;
}

.margin-bottom-1{
    margin-bottom: 1rem;
}

/*PADDINGS PARA ELEMENTOS*/
.padding-1{
    padding: 1rem;
}

.padding-2{
    padding: 2rem;
}

.padding-3{
    padding: 3rem;
}

.padding-4{
    padding: 4rem;
}

.padding-5{
    padding: 5rem;
}

.padding-0{
    padding: 0;
}

/**/
.padding-top-0{
    padding-top: 0;
}

.padding-top-1{
    padding-top: 1rem;
}

.padding-top-2{
    padding-top: 2rem;
}

.padding-top-3{
    padding-top: 3rem;
}

.padding-top-4{
    padding-top: 4rem;
}

.padding-top-5{
    padding-top: 5rem;
}

/**/

.padding-bottom-0{
    padding-bottom: 0;
}

.padding-bottom-1{
    padding-bottom: 1rem;
}

.padding-bottom-2{
    padding-bottom: 2rem;
}

.padding-bottom-3{
    padding-bottom: 3rem;
}

.padding-bottom-4{
    padding-bottom: 4rem;
}

.padding-bottom-5{
    padding-bottom: 5rem;
}
/**/

.padding-left-0{
    padding-left: 0;
}

.padding-left-1{
    padding-left: 1rem;
}

.padding-left-2{
    padding-left: 2rem;
}

.padding-left-3{
    padding-left: 3rem;
}

.padding-left-4{
    padding-left: 4rem;
}

.padding-left-5{
    padding-left: 5rem;
}

/**/

.padding-right-0{
    padding-right: 0;
}

.padding-right-1{
    padding-right: 1rem;
}

.padding-right-2{
    padding-right: 2rem;
}

.padding-right-3{
    padding-right: 3rem;
}

.padding-right-4{
    padding-right: 4rem;
}

.padding-right-5{
    padding-right: 5rem;
}

.padding-y-0{
    padding-top: 0;
    padding-bottom: 0;
}

.padding-y-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-y-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-y-3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.padding-y-4{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.padding-y-5{
    padding-top: 5rem;
    padding-bottom: 5rem;
}






.padding-x-0{
    padding-left: 0;
    padding-right: 0;
}

.padding-x-1{
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-x-2{
    padding-left: 2rem;
    padding-right: 2rem;
}

.padding-x-3{
    padding-left: 3rem;
    padding-right: 3rem;
}

.padding-x-4{
    padding-left: 4rem;
    padding-right: 4rem;
}

.padding-x-5{
    padding-left: 5rem;
    padding-right: 5rem;
}




/* BORDES PARA ELEMENTOS */
.border-width-0{
    border-width: 0;
}

.border-width-1{
    border-width: 1px;
}

.border-width-2{
    border-width: 2px;
}

.border-width-3{
    border-width: 3px;
}

.border-width-4{
    border-width: 5px;
}

.border-width-5{
    border-width: 0;
}

/* ESTILOS MAS USADOS PARA BORDERS */
.border-style-solid{
    border-style: solid;
}

.border-style-dashed{
    border-style: dashed;
}

.border-style-dotted{
    border-style: dotted;
}

.border-style-double{
    border-style: double;
}

.border-style-ridge{
    border-style: ridge
}

/* BORDER AL ENTRAR EL FOCUS */
.outline-none{
    outline-width: 0;
}

.outline-width-1{
    outline-width: 1px;
}

.outline-width-2{
    outline-width: 2px;
}

.outline-width-3{
    outline-width: 3px;
}

.outline-width-4{
    outline-width: 4px;
}

.outline-width-5{
    outline-width: 5px;
}

/*CURSORES*/

.cursor-pointer{
    cursor: pointer;
}

.cursor-default{
    cursor: default;
}

.cursor-crosshair{
    cursor: crosshair
}

.cursor-move{
    cursor: move;
}

.cursor-help{
    cursor: help;
}

/*FLOTACIONES */
.float-none{
    float: none;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

/* DISPLAYS */
.display-none{
    display: none;
}

.display-inline{
    display: inline;
}

.display-inline-block{
    display: inline-block;
}

.display-inline-flex{
    display: inline-flex;
}

.display-block{
    display: block;
}

.display-flex{
    display: flex;
}

.display-inline-flex{
    display: inline-flex;
}

.display-grid{
    display: grid;
}

.display-table{
    display: table;
}

.display-table-cell{
    display: table-cell;
}

.display-table-column{
    display: table-column;
}

.display-table-row{
    display: table-row;
}

.display-table-caption{
    display: table-caption;
}

/*FLEX CONTAINER PROPIEDADES*/

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-space-around{
    justify-content: space-around;
}

.justify-content-space-evenly{
    justify-content: space-evenly;
}

.justify-content-flex-start{
    justify-content: flex-start;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.align-items-baseline{
    align-items: baseline;
}

.align-items-flex-start{
    align-items: flex-start;
}

.align-items-flex-end{
    align-items: flex-end;
}

.align-items-flex-stretch{
    align-items: stretch;
}

.align-content-center{
    align-content: center;
}

.align-content-flex-end{
    align-content: flex-end;
}

.align-content-flex-start{
    align-content: flex-start;
}

.align-content-space-between{
    align-content: space-between;
}

.align-content-stretch{
    align-content: stretch;
}

.flex-direction-row{
    flex-direction: row;
}

.flex-direction-row-reverse{
    flex-direction: row-reverse;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-direction-column-reverse{
    flex-direction: column-reverse;
}

.flex-wrap-wrap{
    flex-wrap: wrap;
}

.flex-wrap-nowrap{
    flex-wrap: nowrap;
}

.flex-wrap-wrap-reverse{
    flex-wrap: wrap-reverse;
}

/*BOX-SIZING*/
.box-sizing-border-box{
    box-sizing: border-box;
}

.box-sizing-content-box{
    box-sizing: content-box;
}

/* VISIBILIDAD */

.visibility-visible{
    visibility: visible;
}

.visibility-hidden{
    visibility: hidden;
}

/* ALINEACION VERTICAL */
.vertical-align-top{
    vertical-align: top;
}

.vertical-align-bottom{
    vertical-align: bottom;
}

.vertical-align-middle{
    vertical-align: middle;
}

.vertical-align-sub{
    vertical-align: sub;
}

/*CLEARS */
.clear-left{
    clear: left;
}

.clear-right{
    clear: right;
}

.clear-both{
    clear: both;
}

/* OVERFLOW */
.overfow-hidden{
    overflow: hidden;
}

.overfow-auto{
    overflow: auto;
}

.overfow-scroll{
    overflow: scroll;
}

/* BORDER CIRCULAR */
.border-radius-circle{
    border-radius: 50%;
}

/*ANCHURAS */
.width-100{
    width: 100%;
}

.width-90{
    width: 90%;
}

.width-80{
    width: 80%;
}

.width-70{
    width: 70%;
}

.width-60{
    width: 60%;
}

.width-50{
    width: 50%;
}

.width-40{
    width: 40%;
}

.width-30{
    width: 30%;
}

.width-20{
    width: 20%;
}

.width-10{
    width: 10%;
}

.width-viewport-100{
    width: 100vh;
}

.width-viewport-50{
    width: 50vh;
}

/*ALTURAS */
.height-100{
    height: 100%;
}

.height-90{
    height: 90%;
}

.height-80{
    height: 80%;
}

.height-70{
    height: 70%;
}

.height-60{
    height: 60%;
}

.height-50{
    height: 50%;
}

.height-40{
    height: 40%;
}

.height-30{
    height: 30%;
}

.height-20{
    height: 20%;
}

.height-10{
    height: 10%;
}

.height-viewport-100{
    height: 100vh;
}

.height-viewport-50{
    height: 50vh;
}

/*COLUMNAS*/
.column-5{
    column-count: 5;
}

.column-4{
    column-count: 4;
}

.column-3{
    column-count: 3;
}

.column-2{
    column-count: 2;
}

.column-1{
    column-count: 1;
}

.row{
    overflow: hidden;
}

/*SEPARACION DE COLUMNAS*/
.column-gap-10{
    column-gap: 10px;
}

.column-gap-20{
    column-gap: 20px;
}

.column-gap-30{
    column-gap: 30px;
}

.column-gap-40{
    column-gap: 40px;
}

.column-gap-50{
    column-gap: 50px;
}

/*POSICIONAMIENTO*/
.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.position-fixed{
    position: fixed;
}

.position-static{
    position: static;
}

/* POSITION MAS USADOS */
.top-100{
    top : 100%;
}

.top-50{
    top : 50%;
}

.top-0{
    top : 0%;
}

.bottom-100{
    bottom : 100%;
}

.bottom-50{
    bottom : 50%;
}

.bottom-0{
    bottom : 0%;
}

.left-100{
    left : 100%;
}

.left-50{
    left : 50%;
}

.left-0{
    left : 0%;
}

.right-100{
    right: 100%;
}

.right-50{
    right : 50%;
}

.right-0{
    right : 0%;
}

/*TRANSLACIONES MAS USADAS*/

.translate-0{
    transform: translate(0);
}

.translate-right-100{
    transform: translateX(100%);
}

.translate-right-50{
    transform: translateX(50%);
}

.translate-left-100{
    transform: translateX(-100%);
}

.translate-left-50{
    transform: translateX(-50%);
}

.translate-top-100{
    transform: translateY(100%);
}

.translate-top-50{
    transform: translateY(50%);
}

.translate-bottom-100{
    transform: translateY(-100%);
}

.translate-bottom-50{
    transform: translateY(-50%);
}


/* INTERLINEADOS */
.line-normal{
    line-height: 1.6;
}

.line-medium{
    line-height: 1.8;
}

.line-strong{
    line-height: 2;
}


/* MEDIDA PARA TABLETS*/
@media screen and (max-width: 768px){
    body *{
        font-size: 14px;
    }
    
    .important-title {
        font-size: 50px;
    }

    .container{
        width: 95%;
    }

    .column-5,
    .column-4,
    .column-3{
        column-count : 2;
    }

    .row{
        flex-basis: 47%;
        margin-bottom: 1rem !important;
    }
}

@media screen and (max-width: 576px){
    .container{
        width: 100%;
    }

    .row{
        flex-basis: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important;
     }
}

